.btn {
  width: 100%;
  box-sizing: border-box;
  background-color: $colour-secondary;
  font-family: $font-title;
  font-size: $font-size * 1.25;
  display: block;
  color: $colour-txt;
  text-decoration: none;
  text-align: center;
  padding: $pad-tb / 3 $pad-side;
  border-radius: 4px;
}