.stats {
  &__title {
    font-size: $font-size * 1.125;
    font-weight: bold;
    margin-bottom: $pad-tb;
    font-family: $font-default;
    line-height: normal;
    position: relative;
    z-index: 1;
  }
  &__asterisk {
    font-style: italic;
    font-family: $font-title;
    font-size: $font-size * 0.875;
  }
}