html {
  // 1rem = 10px
  font-size: 62.5%;
}

body {
  font-size: $font-size;
  font-family: $font-default;
  color: $colour-txt;
}

h1, h2, h3 {
  font-family: $font-title;
  font-weight: 800;
  line-height: 1;
}

h1 {
  margin-top: $pad-tb * 3;
  padding-bottom: $pad-side;
  font-size: $font-size * 3.75;
  + p {
    font-size: 2.4rem;
    margin-bottom: $pad-tb * 5;
    max-width: 50rem;
  }

  @include responsive--s {
    font-size: $font-size * 2.75;

    + p {
      margin-bottom: $pad-tb * 2;
    }
  }
}

h2 {
  font-size: $font-size * 3;
  margin-bottom: $pad-tb * 2;

  @include responsive--s {
    font-size: $font-size * 2;
    margin-bottom: $pad-tb;
  }
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

p {
  margin-bottom: $pad-tb / 2;
}

a {
  color: $colour-txt;
  text-decoration: none;
  background-color: $colour-secondary-bg;
  transition: all 350ms;

  i.external-link {
    font-size: $font-size * 0.875;
    color: $colour-secondary;
  }

  &:hover {
    background-color: $colour-primary-bg;
  }
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-muted {
  color: scale-color($colour-txt, $lightness: 25%);
}